%header
  %h1 Nested Editable Sortables with jQuery
%section
  %p
    While a field is focused, press
    %kbd ↑
    to collapse it's children and
    %kbd ↓
    to expand them, or double-click the field to toggle. Use
    %kbd Tab
    and
    %kbd Shift+Tab
    to move between fields and
    %kbd Return
    to tick/untick an item.
  %ol#outline
  .btns
    %button.add Add item
    %button.sve Save List
  %pre#output
%footer
  This is a code example for the Stack Overflow question
  %br
    %a{:href => "http://stackoverflow.com/q/257188/154877"} "Library for browser based outliner"
​
